body {
background-color: #fbc687}
hr {
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width:10px;
width: 10%}
img{height:20%}

h1 {color: #aacdbe}
h2 {color: #ea907a}
h3 {color: #f4f7c5}
